# Variables de entorno para PostgreSQL (Usuario administrador)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_admin_password
POSTGRES_DB=library_db

# Puerto expuesto de PostgreSQL
DB_PORT=5432

# Variables de entorno para la aplicación Next.js (Usuario app con permisos limitados)
DB_USER=app
DB_PASSWORD=contra123
DB_NAME=library_db
DB_HOST=db
